<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgX7oSDKMJcgrtV-99G_LiUDvTalqRleo</string>
	<key>GCM_SENDER_ID</key>
	<string>387458046841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orion189.audiobooks</string>
	<key>PROJECT_ID</key>
	<string>audiobooks-412813</string>
	<key>STORAGE_BUCKET</key>
	<string>audiobooks-412813.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387458046841:ios:82d8ce8020eec1a89fada8</string>
</dict>
</plist>